@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');

$font: 'Roboto', sans-serif;

$dark-grey: #918f8f;
$ultra-light-grey: #e4e1e1;
$light-grey: #c0bebe;
$blue: #52bff1;
$black: #2d2d2d;
$white: #fff;
$shadow-color: rgba(0, 0, 0, 0.253);
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
   font-family: $font;
   font-size: 1.5em; 
   color: $white;
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
    color: $blue;
}
.main {
    width: 70%;
    margin: 100px auto;
    box-shadow: 0px 2px 5px 0px $shadow-color;
}
.header {
    background-color: $black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    // position: relative;
}
.todo {
    padding: 30px;
    border-bottom: 1px solid $ultra-light-grey;
    color: $dark-grey;
}
.delete, .edit {
    opacity: 0;
}

.todo:hover .delete,
.todo:hover .edit
{
    opacity: 0.5;
}

button {
    border: none;
    background-color: transparent;
    color: $dark-grey;
    margin: 0px 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    float: right;
}
.stats {
    width: 15%;
    // position: absolute;
    text-transform: uppercase;
    top: 10px;
    font-size: 0.9em;
}
th {
    color: $white;
    font-weight: 400;
    font-size: 0.65em;
    letter-spacing: 0.1em;
    padding: 5px;
}
input {
    width: 87%;
    height: 50px;
    margin: 10px;
    border: 1px solid $ultra-light-grey;
    font-size: 0.9em;
    padding: 10px;
    color: $blue;
}
input::-webkit-input-placeholder {
    color: $light-grey;  
}
input::-moz-placeholder {
    color: $light-grey; 
}

.checkbox {
    float: left;
    opacity: 0.5;
}

form {
    display: flex;
}
.completed {
    color: $light-grey; 
    text-decoration: line-through;
}
.material-icons {
    color: $dark-grey;
    font-size: 2em;
}

.stopwatch button {
    width: 1.7em;
    height: 1.7em; 
}
.stopwatch .icon {
    background-size: 1.7em;
    color: $white;
    float: none;
}
.pause {
    background-image: url(./../static/img/baseline-pause-24px.svg);
}
.play-arrow {
    background-image: url(./../static/img/baseline-play_arrow-24px.svg);;
}
.stop {
    background-image: url(./../static/img/baseline-stop-24px.svg);
}







